body {
    background-color: rgb(255, 157, 222);
    position: relative;
}

.display {
    position: absolute;
    top: 200px;
    left: 40%;
}

#block {
    width: 250px;
    height: 200px;
    position: relative;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 3%;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    position: absolute;
    top: 75%;
    left: 60%;
    color: #ffffff;
    background-color: rgb(255, 157, 222);
}

#quote {
    color: rgb(255, 157, 222);
}